#exemplo de credenciais, pois configurei no docker para aceitar 
#qualquer credencial, se configurada da forma abaixo
POSTGRES_DB=meu_banco
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432